
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

}

main{
    padding: 16px;
    margin-bottom: 16px;

}
h1{
    color: green;
}
.grids{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px;

}

.stripe tr:nth-child(even){
    background-color: rgb(200, 200, 200);

}
header{
    border-bottom: 1px solid black;

}
nav{
    background-color: red;
}

}

a{
    transition: background-color 0.5s;
}

a:hover {
    color: green;
  }

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    position: sticky;top: 40px;left: 40px;
    background-color: rgb(84, 166, 84);
}
img{
    height: 200px;
}

nav{
    border-radius: 1px color black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

}
:hover

.display{

}
